# I have no idea what I'm doing
name: Automatic Build

on:
  workflow_dispatch:

jobs:
  build-ios:
    name: iOS
    runs-on: macos-latest
    steps:
      - uses: benjlevesque/short-sha@v2.2
        id: short-sha
        with:
          length: 7

      - name: Remove pre-existing homebrew packages
        run: brew remove --force $(brew list)

      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Configure CMake
        run: |
          cd ios
          mkdir build
          cd build
          cmake -DCMAKE_TOOLCHAIN_FILE=../../deps/ios_toolchain.cmake -G Xcode ..

      - name: Build Library
        run: |
          cd ios/build
          cmake --build . --config Release

      - name: Install Library
        run: |
          cd ios/build
          cmake --install . --config Release --prefix "$GITHUB_WORKSPACE/build/artifact"

      - name: Upload archive
        uses: actions/upload-artifact@v4
        with:
          name: mkxp-z.ios.${{github.event_name == 'pull_request' && format('PR{0}', github.event.number) || github.ref_name}}-${{steps.short-sha.outputs.sha}}
          path: build/artifact
